* {padding:0; margin:0;}
h1 {color:#FFFFFF; text-align:center;}
.menu {background:#CCCCCC;color:#000; text-align:center;margin:0px 0px; padding: 3px 5px;border-bottom:#CCCCCC 2px solid;min-width:800px; font-size:14px;}
.menu:hover {}
.teste:hover{border-bottom:#ff6600 2px solid;}
.menu2 {border-bottom:#ff6600 2px solid;}		
p {text-align:justify; }
p.foot {text-align:center;}
a:link,a:visited,a:active{color:#000; text-decoration:none;}


#content { clear: both;min-width:820px;font-size:14px;}
#dscr {width:600px; height:400px; overflow-x:hidden; overflow-y:scroll;}
#form_webtop { margin:5px 5px; padding:20px 20px; overflow-y:auto; overflow-x:hidden;}
#form_webtop label{ margin-top:10px;}
#texto{ height:20px; border:none; background:#CCCCCC;margin-bottom:10px;margin-right:5px;}
#add{width: 80px; height:20px; border:none; background:#99CC99;margin-bottom:10px;margin-right:5px;}
#botao {width: 80px; height:20px; border:none; background:#FFFF66;margin-bottom:10px;margin-right:5px;}
#send {width: 100%; border:none; background:#6699FF; text-align:center;height: 40px; margin-top:10px;margin-bottom:10px; font-weight:bold;}
#send:hover {background:#FFFF66;}

#form { 	position:relative; padding-top: 100px; text-align: center;}
#form select{ margin-left:5px;margin-top:2px; }
#form #b1 {float:left;width:50%; text-align:right;height:60px;}
.label {height:30px;}
#form #b2 {float:right;width:50%; text-align:left;height:60px;}

#form_webtop #b1 {float:left;width:50%; text-align:left;}
#form_webtop #b2 {float:right;width:50%; text-align:left;}

#logo {	border-bottom: #ff6600 2px solid; height: 60px; padding: 5px;}

#footer_index {width:100%; height: 50px;border-top:#ff6600 2px solid;	background:#CCCCCC; font-size:12px; padding-top: 10px; position:fixed; bottom:0px;}
#footer{width:100%; height: 50px;border-top:#ff6600 2px solid;	background:#CCCCCC; font-size:12px; padding-top: 10px; position:reltaive; bottom:0px;}
